


  
  .fast-fashion {
    grid-area: main;
  }
  
  .water {
    grid-area: water;
  }

  .waste {
    grid-area: waste
  }
  
  .other {
    grid-area: other;
  }
  
  .reference {
    grid-area: accordion;
  }

  footer {
    grid-area: footer;
  }
    
  .container {
    background-color: #F5FCF7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main main main"
      "water water water water"
      "waste waste waste waste"
      "other other other other"
      "accordion accordion accordion accordion"
      "footer footer footer footer";
  }

/*chloe added*/
.fast-fashion {
  padding: 5%;
}

.water {
  padding: 5%;
}

.waste {
  padding: 5%;
}

.other {
  padding: 5%;
}

.reference {
  padding: 10%;
}

h3 {
    color: #1B4332;
    font-size: 2em;
    font-family: capriola, shippori antique, commissioner;
}

h4 {
  color: #1B4332;
  font-size: 1.5em;
  font-family: capriola, shippori antique, commissioner;
}

p {
    font-family: shippori antique, capriola, commissioner;
    font-size: 1.3em;
}

/*ask!*/
mark {
  font-size: 1.2em;
  background-color: rgba(168, 226, 179, 0.846);
}

li {
  font-family: shippori antique, capriola, commissioner;
  font-size: 1.2em;
}
a {
  color:#1B4332
}

#accordion {
  display: flex;
  margin-bottom: 30px;
}
.accordion-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    color: black;
    grid-column: 1/5;
  }
  .accordion-container .accordion {
    background-color:  #1B4332;
    color: white;
    padding: 10px;
    width: 100%;
    border: solid;
    text-align: left;
    outline: none;
    transition: 0.6s;
    border-radius: 20px;
  }
  .panel {
    padding:0 30px;
    background-color: #D8F3DC;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.4s ease-out;
    border-radius: 20px;
    font-family: "shippori antique", commissioner, capriola;
    font-size: 1rem;
  }
  .panel li {
    margin-top: 10px;
    word-wrap: break-word
  }

  button.accordion {
    
    font-size: 2em;
    font-family: "capriola", commissioner, shippori antique;
    font-weight: bold;
  }
  .material-symbols-outlined {
    position: relative;
    float: right;
  }
  .material-symbols-outlined:after {
    content: '\e5cf';
    font-size: 40px;
    color: white;
  }
  .material-symbols-outlined:hover {
    background-color:#B7E4C7;
    border-radius: 60px;
  }

.img1, .img2, .img3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 img, .img2 img, .img3 img {
  width: 1000px;
  height: auto;
  border-radius: 300px;
  border: solid black 3px;
}

footer {
  background-color: #B7E4C7;
}
footer p {
  font-family: shippori antique, capriola, commisioner;
}
#copyright {
  color: black;
}

.ordinalIcon {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .img2 img, .img1 img, .img3 img {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .img2 img, .img1 img, .img3 img {
    width: 350px;
  }
}