


  
  .fast-fashion {
    grid-area: main;
  }
  
  .water {
    grid-area: water;
  }

  .waste {
    grid-area: waste
  }
  
  .other {
    grid-area: other;
  }
  
  .reference {
    grid-area: reference;
  }

  footer {
    grid-area: footer;
  }
    
  .container {
    background-color: #F5FCF7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      
      "main main main main"
      "water water water water"
      "waste waste waste waste"
      "other other other other"
      "reference reference reference reference"
      "footer footer footer footer";
  }

/*chloe added*/
.fast-fashion {
  padding: 5%;
}

.water {
  padding: 5%;
}

.waste {
  padding: 5%;
}

.other {
  padding: 5%;
}

.reference {
  padding: 10%;
}

h3 {
    color: #1B4332;
    font-size: 2em;
    font-family: capriola, shippori antique, commissioner;
}

h4 {
  color: #1B4332;
  font-size: 1.5em;
  font-family: capriola, shippori antique, commissioner;
}

p {
    font-family: capriola, shippori antique, commissioner;
    font-size: 1.5em;
}

/*ask!*/
p span {
  font-size: 1.0em;
  background-color: rgba(197, 245, 206, 0.846);
}

li {
  font-family: capriola, shippori antique, commissioner;
  font-size: 1.3em;
}

details {
  background-color: #9ce1c4;
  font-family: capriola, shippori antique, commissioner;
    font-size: 1em;
}

.fast-fashion img {
  width: 200px;
  height: auto;
}