body {
    background-color: #F5FCF7;
    font-family: capriola, shippori antique, commissioner;
    box-sizing: border-box;
}

/* Main */

.upcyclingContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.first {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    margin: 50px;
}

h2 {
    display: flex;
    justify-content: center;
}

.img1 {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picture1 {
    display: flex;
    align-items: center;
}

.second {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 18px;
    margin: 50px;
}


.img2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Footer */


.footer-container {
    background-color: #B7E4C7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 20px;
    gap: 30px;
    color: black;
}

.contact {
    grid-column: 2/3;
    text-align: center;
}

.social {
    grid-column: 3/4;
    text-align: center;
}

.copyright {
    text-align: center;
    grid-column: 2/4;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.copyright p {
    margin: 0px 10px;
}

.icon {
    height: 50px;
    margin: 0px 100px;
}

.footer-container h3 {
    font-size: 24px;;
}

