
 header {
     grid-area: header;
   }
   .tagline {
     grid-area: tagline
   }
   .about {
     grid-area: main;
   }
   .current-events {
     grid-area: aside;
   }
   .donations {
     grid-area: event;
   }
   footer {
     grid-area: footer;
   }
   
   .container {
     display: grid;
     
     grid-template-rows: auto;
     grid-template-areas: 
       "header header header header"
       "tagline tagline tagline tagline"
       "main main main aside"
       "event event event aside"
       "footer footer footer footer";
   }
   .container {
    background-color: #F5FCF7;
   }
   li.nav {
    display:inline;
   }
ul.nav-bar {
    display:flex;
    list-style-type: none;
    margin-bottom: 5%;
    padding: 15px;
    overflow: hidden;
    background-color: #A2D5BC;
    justify-content: space-around;
   font-family: Arial, Helvetica, sans-serif;    
}
/* Tagline */
div.tagline {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

/* about section */
section.about {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}
/* plant image */
.Home-plant {
        flex: 0 0 auto; /* Make the image container not flexible */
        margin: 5px; /* Adjust margin as needed */
        max-width: 100%; /* Ensures the image does not exceed the width of its container */
        height: auto;
    }
    
    .about-paragraph {
        flex: 1; /* Allow the paragraph to take remaining space */
    }

    /*Donate Section */
    section.donations {
        display: flex;
        flex-wrap: wrap;
        margin: 2%;
    }
    .event {
        justify-content: flex-end;
    }
    .clothes-line {
        flex: 0 0 auto; /* Make the image container not flexible */
        margin: 5px; /* Adjust margin as needed */
        max-width: 100%; /* Ensures the image does not exceed the width of its container */
        height: auto;
        justify-content: flex-start;
    }
    

    /*
/* Upcoming Events aside */
   .current-events {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    border: solid;
    border-color: black;
    padding: 4%
   }

   /* Footer */
   footer {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color: black;
    margin-top: 10px;
    padding-left: 10px;
    background-color: #A2D5BC;
  
   }

   #copyright {
    justify-content: flex-start;
   }
  .contact-us {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
  }
   .content-links {
    text-align: end;
   }

